<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'My lists', @list, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add List", new_list_path, class: "nav-link" %>
          </li>
          </ul>
      </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>My beautiful <strong>Movie</strong> <strong>List</strong>!</h1>
    <p>Welcome again, Buddy!</p>
    <a class="btn btn-flat" href="https://www.google.com/">Exit now</a>
  </div>
</div>

<h2> My lists:</h2>

<div class="cards">
    <% @lists.each do |list| %>
      <div class="card mb-5" >
        <div class="card-body">
          <img src="..;" class="card-img-top" alt="...">
          <p class="list-name"><%= link_to list.name, list %></p>
        </div>
      </div>
    <% end %>
</div>
<%= link_to 'Create a movie List', new_list_path, class: "btn btn-primary ml 3" %>
